<div class="border pado" style="padding: 10px">
  <div class="card">
    <div class="card-header">
      <h4 class="text-center">Book Category List</h4>
    </div>
    <div class="card-body">
      <table class="table table-responsive table-striped table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bookCat of bookCats$ | async">
            <td><a class="rem-text-deco" routerLink="/detail-category/{{bookCat.id}}">{{ bookCat.name }}</a></td>
            <td>
              <a routerLink="/edit-category/{{bookCat.id}}" class="btn btn-warning m-1 fw-bold">Edit</a>
              <a routerLink="/delete-category/{{bookCat.id}}" class="btn btn-danger m-1 fw-bold">Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <a routerLink="/add-category" class="btn btn-secondary form-control m-1 fw-bold">Add Book Category</a>
    </div>
  </div>
</div>


